<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="container-fluid">
<div class="navbar navbar-header">
    <a href="/" class="navbar navbar-brand">YELPCAMP</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
    <li><a class="btn btn-primary" href="#">LOGIN</a></li>
    <li><a class="btn btn-primary" href="#">SIGNUP</a></li>
    <li><a class="btn btn-primary" href="#">LOGOUT</a></li>

</ul>

</div>

</div>



</nav>